<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <springProperty scope="context" name="rabbitMQHost" source="logback.amqp.host" defaultValue="localhost"/>
    <springProperty scope="context" name="rabbitMQPort" source="logback.amqp.port" defaultValue="5672"/>
    <springProperty scope="context" name="rabbitMQUsername" source="spring.rabbitmq.username"/>
    <springProperty scope="context" name="rabbitMQPassword" source="spring.rabbitmq.password"/>
    <springProperty scope="context" name="rabbitMQExchangeName" source="logback.amqp.exchange.name"
                    defaultValue="mpi.tradedev"/>
    <springProperty scope="context" name="rabbitMQRoutingKey" source="logback.amqp.routing.key"
                    defaultValue="mpi.tradedev.logging"/>
    <springProperty scope="context" name="serviceName" source="spring.application.name"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>
                {"time": "%date{ISO8601}", "thread": "%thread", "level": "%level", "class": "%logger{36}", "message":"%message"}\n
            </pattern>
        </encoder>
    </appender>

    <appender name="AMQP"
              class="org.springframework.amqp.rabbit.logback.AmqpAppender">
        <layout>
            <pattern>
                {
                "time": "%date{ISO8601}",
                "thread": "%thread",
                "level": "%level",
                "class": "%logger{36}",
                "message": "%message"
                "serviceName": "${serviceName}"
                }
            </pattern>
        </layout>

        <!-- RabbitMQ connection -->
        <host>${rabbitMQHost}</host>
        <port>${rabbitMQPort}</port>
        <username>${rabbitMQUsername}</username>
        <password>${rabbitMQPassword}</password>
        <exchangeName>${rabbitMQExchangeName}</exchangeName>
        <routingKeyPattern>${rabbitMQRoutingKey}</routingKeyPattern>

        <declareExchange>true</declareExchange>
        <exchangeType>topic</exchangeType>
        <generateId>true</generateId>
        <charset>UTF-8</charset>
        <durable>true</durable>
        <deliveryMode>PERSISTENT</deliveryMode>

    </appender>

    <root level="info">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="AMQP"/>
    </root>
</configuration>